<h2>Koszyk</h2>

<div *ngIf='items.length == 0'>
  <p>Twój koszyk jest pusty</p>
</div>

<div *ngIf='items.length > 0'>
  <h4>Lista produktów</h4>
</div>

<div class='cart-item' *ngFor='let item of items'>
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<div *ngIf='items.length > 0'>
  <p>Łączna wartość: {{ total | currency}}</p>
  <h4>Dostawa</h4>
  <p>Dostawca: {{ type }}</p>
  <p>Koszt dostawy: {{ deliveryCost | currency}}</p>
  <button (click)='wybierzDostawce()'>Wybierz/zmień formę dostawy</button>
  <h4>Podsumowanie</h4>
  <p>Do zapłaty: {{ valueWithDelivery | currency}}</p>
  <a routerLink='/zloz' class='button'>Złóż zamówienie</a>
</div>
